################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/e2bapp
/obj
/bin/Debug
/bin/e2blib.zip
/bin/e2bapp.zip
/bin/e2bapp
*.ini
/bin/Release/e2bapp.pdb
/bin/Release/Google.Protobuf.pdb
/bin/Release
